In [3]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'

In [19]:
import pandas as pd
import numpy as np

In [20]:
auto = pd.read_csv(url)

In [21]:
auto.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [22]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
3              204 non-null int64
?              204 non-null object
alfa-romero    204 non-null object
gas            204 non-null object
std            204 non-null object
two            204 non-null object
convertible    204 non-null object
rwd            204 non-null object
front          204 non-null object
88.60          204 non-null float64
168.80         204 non-null float64
64.10          204 non-null float64
48.80          204 non-null float64
2548           204 non-null int64
dohc           204 non-null object
four           204 non-null object
130            204 non-null int64
mpfi           204 non-null object
3.47           204 non-null object
2.68           204 non-null object
9.00           204 non-null float64
111            204 non-null object
5000           204 non-null object
21             204 non-null int64
27             204 non-null int64
13495          204 non-null object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.6+ KB

In [23]:
auto.columns =['symboling','normalized-losses','make','fuel-type' ,'aspiration','num-of-doors',
                            'body-style','drive-wheels','engine-location','wheel-base','length','width','height',
                            'curb-weight','engine-type','num-of-cylinders','engine-size','fuel-system','bore',
                            'stroke','compression-ratio','horsepower','peak-rpm','city-mpg','highway-mpg','price']

In [24]:
auto.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [25]:
auto.shape

(204, 26)

In [26]:
auto = auto[['price', 'horsepower', 'width', 'height']]

In [29]:
auto.isin(['?']).sum()

price         0
horsepower    0
width         0
height        0
dtype: int64

In [28]:
auto = auto.replace('?', np.nan).dropna()

In [30]:
auto.shape

(198, 4)

In [31]:
auto.dtypes

price          object
horsepower     object
width         float64
height        float64
dtype: object

In [32]:
auto.head(20)

    price horsepower  width  height
0   16500        111   64.1    48.8
1   16500        154   65.5    52.4
2   13950        102   66.2    54.3
3   17450        115   66.4    54.3
4   15250        110   66.3    53.1
5   17710        110   71.4    55.7
6   18920        110   71.4    55.7
7   23875        140   71.4    55.9
9   16430        101   64.8    54.3
10  16925        101   64.8    54.3
11  20970        121   64.8    54.3
12  21105        121   64.8    54.3
13  24565        121   66.9    55.7
14  30760        182   66.9    55.7
15  41315        182   67.9    53.7
16  36880        182   70.9    56.3
17   5151         48   60.3    53.2
18   6295         70   63.6    52.0
19   6575         70   63.6    52.0
20   5572         68   63.8    50.8

In [34]:
auto.price = pd.to_numeric(auto.price)

In [35]:
auto.dtypes

price           int64
horsepower     object
width         float64
height        float64
dtype: object

In [36]:
auto.horsepower = pd.to_numeric(auto.horsepower)

In [37]:
auto.dtypes

price           int64
horsepower      int64
width         float64
height        float64
dtype: object

In [38]:
auto.corr()

               price  horsepower     width    height
price       1.000000    0.810587  0.755376  0.136759
horsepower  0.810587    1.000000  0.617365 -0.086236
width       0.755376    0.617365  1.000000  0.304263
height      0.136759   -0.086236  0.304263  1.000000